<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <a href="/students">Students</a> |
    <a href="/students/new">Add Student</a>
  </nav>
  <hr />
  <%- body %>
</body>
</html>
